@charset "utf-8";

@import "bourbon";

* {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;

  position: relative;
}

body {
  font-family: 'Source Sans Pro', 'Helvetice Neue', sans-serif;

  @include linear-gradient(to right, #2a94d6, #185a84);
  background-size: 200% 200%;

  color: #fff;
  font-weight: lighter;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;

  -webkit-font-smoothing: antialiased;
  border-left: 20px solid rgba(255,255,255, 0.2);
}

a {
  color: #f0f1f2;
}


.header {
  position: relative;
  @include clearfix;

  h1 {
    float: left;
    font-size: 2em;
    margin: 40px;
    color: #fff;
    font-weight: 700;
    @include clearfix;
  }

  ul{
    @include clearfix;
    float: left;
    padding: 0 40px;
    width: 100%;
    li {
      color: #fefefe;
      list-style: circle;
    }
  }

  nav {
    float: left;
    width: 100%;
    margin-left: 40px;
    padding: 40px 0;
    @include clearfix;
    a {
      font-size: 2em;
      opacity: 0.75;
      text-decoration: none;
      color: #f0f1f2;
      @include animation(color 2.0s ease-in-out);

      &:hover {
        opacity: 1;
      }
    }
  }
}

section{
  padding: 20px;
  @include clearfix;

  .inner, header {
    @include clearfix;
    float: left;

    p {
      margin-bottom: 1em;
    }

    i {
      font-style: italic;
      color: #cecece;
    }

    a:hover {
      background: rgba(255,255, 255, 0.1);
    }
  }
}

section.dribbble {
  header {
    padding: 20px 0;
    width: 100%;
    h2{
      color: #fff;
      font-size: 1.5em;
    }
  }

  .images {
    img {
      margin: 20px 20px 20px 0;
      padding: 5px;
      background: rgba(255,255,255, 0.2);
      border: 1px solid rgba(255,255,255, 0.1);
    }
  }
}


@media (min-width: 700px) {
  .header {

    h1 {
      margin: 50px;
      font-size: 2.5em;
    }

    ul {
      // padding: 0 40px;
      margin-left: 40px;
    }

    nav {
      font-size: 1.5em;
      float: left;
      margin-left: 60px;

      span {
        font-size: 0.8em;
      }
    }
  }

  section {
    padding: 20px 40px;

    .inner, header {
      max-width: 600px;
      margin: 0 0 0 20px;
    }

  }

  section.dribbble {
    header {
      margin: 20px 0 0 0;
    }

    .inner {
      max-width: 680px;
      img {
        margin: 10px 10px 0 0;
      }
    }
  }
}


@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('/fonts/MonoSocialIconsFont-1.10.eot');
  src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format("embedded-opentype"), url('/fonts/MonoSocialIconsFont-1.10.woff') format("woff"), url('/fonts/MonoSocialIconsFont-1.10.ttf') format("truetype"), url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format("svg");
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
}