@charset "utf-8";

@import "bourbon";

body {
  background: #f4f4f4;
  color: #444;
  font: 19px/1.5em 'Source Sans Pro', 'Helvetice Neue', sans-serif;
}


.header {
  background-color: #2a94d6;
  background-image: url('/images/keyboard.png'), url('/images/geo.png');
  background-position: top left, top left;
  background-repeat: no-repeat;
  background-size: auto, cover;
  position: relative;
  @include clearfix;

  h1 {
    float: left;
    font-size: 2em;
    margin: 140px 40px 20px 40px;
    color: #fff;
    font-weight: 700;
    @include clearfix;

    span {
      margin: 20px 0;
      float: left;
      i {
        background: #fff;
        display: inline-block;
        border: 1px solid rgba(#ccc, 0.8);
        padding: 10px;
        margin: 3px;
        width: 25px;
        height: 25px;
        text-align: center;
        font: 700 30px/30px 'Helvetica', sans-serif;
        color: #777;
        margin-left: -8px;
      }

      i:first-child {
        @include transform(rotate(3deg));
      }

      i:nth-child(2){
        @include transform(rotate(7deg));
      }

      i:last-child {
        @include transform(rotate(-15deg));
      }

    }
  }

  ul{
    @include clearfix;
    float: left;
    padding: 0 40px;
    width: 100%;
    li {
      color: #fefefe;
    }
  }

  nav {
    float: left;
    width: 100%;
    margin-left: 40px;
    padding: 40px 0;
    @include clearfix;
    a {
      font-size: 3em;
      text-decoration: none;
      color: #f0f1f2;
      @include animation(color 2.0s ease-in-out);

      &:hover {
        opacity: 1;

        &.twitter{
          color: #00aced;
        }

        &.dribbble{
          color: #ea4c89;
        }

        &.linkedin{
          color: #007bb6;
        }

        &.github{
          color: #000;
        }
      }
    }
  }
}

section{
  padding: 40px;
  @include clearfix;

  .inner, header {
    @include clearfix;
    float: left;

    p {
      margin-bottom: 1.5em;
    }

    i {
      font-style: italic;
      color: #777;
    }
  }
}

section.dribbble {
  background: #ea4c89 url('/images/geo2.png') no-repeat;
  background-size: cover;
  padding: 0;
  header {
    padding: 20px;
    width: 100%;
    h2{
      color: #fff;
      font-size: 1.5em;
    }
  }

  .images {
    img {
      margin: 20px;
    }

    &:nth-child(3n+3){
      @include clearfix;
    }
  }
}


@media (min-width: 700px) {
  .header {

    h1 {
      margin: 50px 0 20px 240px;
      font-size: 2.5em;

      span {
        float: none;
        margin-left: 10px;
      }
    }

    ul {
      // padding: 0 40px;
      margin-left: 200px;
    }

    nav {
      font-size: 1.5em;
      float: left;
      margin-left: 225px;
    }
  }

  section {
    padding: 40px;

    .inner, header {
      max-width: 600px;
      margin: 0 0 0 200px;
    }

  }

  section.dribbble {
    header {
      margin: 20px 0 0 0;
    }

    .inner {
      max-width: 680px;
      img {
        margin: 20px 0 20px 20px;
      }
    }
  }
}


@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('/fonts/MonoSocialIconsFont-1.10.eot');
  src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format("embedded-opentype"), url('/fonts/MonoSocialIconsFont-1.10.woff') format("woff"), url('/fonts/MonoSocialIconsFont-1.10.ttf') format("truetype"), url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format("svg");
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
}

