<section>
  <img width="60" src="images/KF.png" srcset="images/KF@2x.png 2x, images/KF@3x.png 3x" />
  <h1>Kim Fransman</h1>

  <ul>
    <li>Proud father</li>
    <li>Golf-pro-wannabe</li>
    <li>Frontend aficionado</li>
  </ul>

  <hr />

  <p>
    I currently work at <a href="https://daresay.co/">DARESAY</a> as a Developer / Team Lead.<br />
    When I'm thinking in code, my go to language is <strong>Ruby</strong>, and I have a decent understanding of what <strong>this</strong> is in <strong>Ecmascript</strong>.
  </p>

  <p>I produce stuff, mostly with webbased technologies, preferably for both backend and frontend, and some times I do mobile stuff as well, mainly with React Native.</p>
  <p>Sometimes I even do some product design, interaction design, UX design, growth-hacking and other cool buzzwords needed to deliver stuff humans love to use.</p>

  <p>
    If you want to connect with me, hit me up on Twitter (<a href="https://twitter.com/kimfransman" class="symbol">@kimfransman</a>) or <a href="http://se.linkedin.com/in/kimfransman" class="symbol">Linkedin</a>.
    Sometimes I also play with design and post stuff to <a href="http://dribbble.com/kimf" class="symbol">Dribbble</a>
  </p>

  <hr />
  <p class="goodbye">Have a marvelous day!</p>
</section>
