---
title: Hi, my name is... Kim Fransman
---

<header class="header">

  <h1>Kim Fransman</h1>

  <ul>
    <li>Proud father</li>
    <li>Golf-pro-wannabe</li>
    <li>Frontend aficionado</li>
    <li>Experienced Ruby developer</li>
    <li>UX Designer</li>
  </ul>
</header>

<section class="intro">
  <div class="inner">
    <article>
      <p>
        I'm a 30(ish) year old boy from Stockholm, Sweden. Beside my passion for clean code and functional design I love golf, and keep track of my stats at <a href="http://golfstats.fransman.se">golfstats.fransman.se</a>.
      </p>
      <p>
        I currently work at <a href="http://screeninteraction.com/">Screen Interaction</a> as a Senior Web Developer. I enjoy working with <a href="http://ruby-lang.org">Ruby</a> and Javascript (mostly <a href="https://facebook.github.io/react/">React</a> & <a href="http://emberjs.com/">Ember</a>). And UX design is one of my growing interests.
      </p>

      <p>
        As alot of developers I have some personal side projects, and one of them is <a href="http://www.simplegolftour.com">Simple Golftour</a>, <i>a simple way for friends and colleagues to create leaderboards for their golfgame</i>. If you, like me are a total golf-nut, check it out.</p>
    </article>
  </div>
</section>

<nav>
  <span>Find me elsewhere:</span><br/><br />
  <a href="http://github.com/kimf" class="symbol">circlegithubalt</a>
  <a href="http://se.linkedin.com/in/kimfransman" class="symbol">circlelinkedin</a>
  <a href="https://twitter.com/kimfransman" class="symbol">circletwitter</a>
  <a href="http://dribbble.com/kimf" class="symbol">circledribble</a>
</nav>
