---
title: My name is... Kim Fransman
---

<header class="header">

  <h1>Kim Fransman</h1>

  <ul>
    <li>Noob father</li>
    <li>Golf-pro-wannabe</li>
    <li>Frontend aficionado</li>
    <li>Experienced Ruby developer</li>
    <li>UX Designer</li>
  </ul>

  <nav>
    <span>Find me elsewhere:</span><br/><br />
    <a href="http://github.com/kimf" class="symbol">circlegithubalt</a>
    <a href="http://dribbble.com/kimf" class="symbol">circledribble</a>
    <a href="https://twitter.com/kimfransman" class="symbol">circletwitter</a>
    <a href="http://se.linkedin.com/in/kimfransman" class="symbol">circlelinkedin</a>
    <a href="https://www.facebook.com/kimfransman" class="symbol">circlefacebook</a>
    <a href="http://instagram.com/kimf" class="symbol">circleinstagram</a>
    <a href="http://www.last.fm/user/kimfransman" class="symbol">circlelastfm</a>
  </nav>
</header>

<section class="intro">
  <div class="inner">
    <article>
      <p>
        I'm a 30(ish) year old noob father from Stockholm, Sweden. Beside my passion for code and clean design I love golf, and keep track of my stats at <a href="http://golfstats.fransman.se">golfstats.fransman.se</a>.
      </p>
      <p>
        I currently work at Zmart Dev Sweden as a System Developer. I work mainly with <a href="http://ruby-lang.org">Ruby</a> and Javascript (mostly <a href="http://emberjs.com/">Ember</a>). Sometimes I even get lucky and get to play with UX design and some frontend coding.
      </p>

      <p>
        As all developers I have some personal side projects, and one of them is <a href="http://www.simplegolftour.com">Simple Golftour</a>, <i>a simple way for friends and colleagues to create leaderboards for their golfgame</i>. If you, like me are a total golf-nut, check it out.</p>
    </article>
  </div>
</section>

<section class="dribbble">
  <div class="inner">
    <header>
      <h2>Latest Dribbbles</h2>
    </header>

    <div class="images"></div>
  </div>
</section>
