<section>
  <img width="60" height="60" src="images/KF.png" srcset="images/KF@2x.png 2x, images/KF@3x.png 3x" alt="KF - Kim Fransman" />
  <h1>Kim Fransman</h1>
  <ul>
    <li>Father</li>
    <li>Golf-nerd^2</li>
    <li>Digital product creator</li>
  </ul>
  <hr />
  <p>Currently leading great people and helping companies get the most bang for their buck in their digitalization journey as <strong>Tech Director</strong> at <a href="https://daresay.co/">DARESAY</a></p>
  <p>
    I have long and fruitful relationship with <strong>Ruby, Javascript, HTML & CSS</strong> and sometimes I even do some product design, interaction design, UX design, growth-hacking and other cool buzzwords needed to deliver stuff humans love to use.
  </p>
  <p>I plan, strategize and produce stuff, preferably for both backend and frontend, and sometime I do mobile stuff as well, mainly with <strong>React Native</strong>.</p>
  <p>
    If you want to connect with me, I'm sometimes active on some social media platforms, like
    <a href="https://bsky.app/profile/kim.fransman.se" class="bluesky-flutter">
        <svg id="flutterby" class="bluesky-flutter" viewBox="0 0 566 500" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path
                    id="wing"
                    fill="currentColor"
                    d="M 123.244 35.008 C 188.248 83.809 283.836 176.879 283.836 235.857 C 283.836 316.899 283.879 235.845 283.836 376.038 C 283.889 375.995 282.67 376.544 280.212 383.758 C 266.806 423.111 214.487 576.685 94.841 453.913 C 31.843 389.269 61.013 324.625 175.682 305.108 C 110.08 316.274 36.332 297.827 16.093 225.504 C 10.271 204.699 0.343 76.56 0.343 59.246 C 0.343 -27.451 76.342 -0.206 123.244 35.008 Z"
                />
            </defs>
            <use xlink:href="#wing" class="left" />
            <use xlink:href="#wing" class="right" />
        </svg> @kim.fransman.se
    </a>,
    X (<a href="https://x.com/kimfransman" class="symbol">@kimfransman</a>) or <a href="http://se.linkedin.com/in/kimfransman" class="symbol">Linkedin</a>.
    I also play with design and post stuff to <a href="http://dribbble.com/kimf" class="symbol">Dribbble</a> now and then.
  </p>
  <hr />
  <footer class="goodbye">Have a marvelous day!</footer>
</section>
