---
title: My name is... Kim Fransman
---

<header class="header">

  <h1>Hi My name is <span><i>K</i><i>I</i><i>M</i></span></h1>

  <ul>
    <li>Frontend aficionado</li>
    <li>Experienced Ruby developer</li>
    <li>UX Designer</li>
  </ul>

  <nav>
    <a href="http://github.com/kimf" class="symbol github">githubalt</a>
    <a href="http://dribbble.com/kimf" class="symbol dribbble">dribble</a>
    <a href="https://twitter.com/kimfransman" class="symbol twitter">twitterbird</a>
    <a href="http://se.linkedin.com/in/kimfransman" class="symbol linkedin">linkedin</a>
  </nav>
</header>

<section class="intro">
  <div class="inner">
    <article>
      <p>
        Hello there, I am a 30(ish) year old boy from Stockholm, Sweden. I currently work at Zmart Dev Sweden as a System Developer. I work mainly with <a href="http://ruby-lang.org">Ruby</a> and Javascript (mostly <a href="http://emberjs.com/">Ember</a>). Sometimes I even get lucky and get to play with UX design and some frontend coding.
      </p>

      <p>As all developers I have some personal side projects, and one of them is <a href="http://www.simplegolftour.com">Simple Golftour</a>, <i>a simple way for friends and colleagues to create leaderboards for their golfgame</i>. If you, like me are a total golf-nut, check it out.</p>
    </article>
  </div>
</section>

<section class="dribbble">
  <div class="inner">
    <header>
      <h2>Latest Dribbbles</h2>
    </header>

    <div class="images"></div>
  </div>
</section>



<!--     <h1>Hi, I'm Karl.</h1>

    <p>I'm the CTO of <a href="http://tiedaygroup.com/">Tieday Group</a>. I love writing code, exploring menswear, discussing politics and playing golf.</p>

    <p>I have my resume on <a href="http://www.linkedin.com/profile/view?id=23160720">LinkedIn</a>, push code to <a href="https://github.com/klr">GitHub</a>, upload drunken images to <a href="https://www.facebook.com/karlroos">Facebook</a>, take photos of steak tartare and beer with fancy filters on <a href="http://instagram.com/karlroos">Instagram</a>, tweet about politics and express random thoughts on <a href="https://twitter.com/karlroos">Twitter</a>, check in with <a href="https://foursquare.com/karlroos">Foursquare</a>, log my divots with <a href="http://golfshot.com/members/0376001110/statistics">Golfshot</a>, sweat it out with <a href="http://runkeeper.com/user/karlroos/profile">RunKeeper</a> and scrobble my music to
    <a href="http://last.fm/user/karlroos">Last.fm</a>.</p>
 -->