---
title: Kim Fransman - one friendly guy
---

<header class="header">

  <h1>Hi My name is Kim</h1>

  <ul>
    <li>Frontend performance afficionado</li>
    <li>Experienced Ruby developer</li>
    <li>UX Designer</li>
  </ul>

  <nav>
    <a href="http://github.com/kimf" class="symbol github">githubalt</a>
    <a href="http://dribbble.com/kimf" class="symbol dribbble">dribble</a>
    <a href="https://twitter.com/kimfransman" class="symbol twitter">twitterbird</a>
    <a href="http://se.linkedin.com/in/kimfransman" class="symbol linkedin">linkedin</a>
    <a href="https://www.facebook.com/kimfransman" class="symbol facebook">facebook</a>
  </nav>
</header>

<section class="projects">
  <article>
    <header>
      <h2>Simple Golftour</h2>
    </header>
  </article>
</section>
